<!DOCTYPE html>
<html>
    <head>
        <title>ToDos</title>
    </head>
    <body>
        <form method='POST' action='/form-data'>
            <label for="todo">Add Item</label>
            <input type="text" name="todo" placeholder='Item to Add'>
            <button type="submit">Add</button>
        </form>